parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Cannot call method markEmailAsVerified\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Parameter \#1 \$sql of method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Album\>\:\:orderByRaw\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Albums/AlbumIndex.php

		-
			message: '#^Parameter \#1 \$sql of method Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\:\:orWhereRaw\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Albums/AlbumIndex.php

		-
			message: '#^Parameter \#1 \$sql of method Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\:\:orWhereRaw\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Anime/AnimeIndex.php

		-
			message: '#^Parameter \#1 \$sql of method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\BoardGame\>\:\:orderByRaw\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/BoardGames/BoardGameIndex.php

		-
			message: '#^Parameter \#1 \$sql of method Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\:\:orWhereRaw\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/BoardGames/BoardGameIndex.php

		-
			message: '#^Parameter \#1 \$sql of method Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\:\:orWhereRaw\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Books/BookIndex.php

		-
			message: '#^Parameter \#1 \$sql of method Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\:\:orWhereRaw\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Comics/ComicIndex.php

		-
			message: '#^Parameter \#1 \$sql of method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Concert\>\:\:orderByRaw\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Concerts/ConcertIndex.php

		-
			message: '#^Parameter \#1 \$sql of method Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\:\:orWhereRaw\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Concerts/ConcertIndex.php

		-
			message: '#^Parameter \#1 \$sql of method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Game\>\:\:orderByRaw\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Games/GameIndex.php

		-
			message: '#^Parameter \#1 \$sql of method Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\:\:orWhereRaw\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Games/GameIndex.php

		-
			message: '#^Parameter \#1 \$sql of method Illuminate\\Database\\Eloquent\\Builder\<TModel of Illuminate\\Database\\Eloquent\\Model\>\:\:orWhereRaw\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Movies/MovieIndex.php
